.nav {
    background-color: $purple !important;
}

.nav-link {
    color: $white !important;
    background-color: $purple !important;
}

.toast-body {
    color: $white !important;
}

.bg-error {
    background-color: #dc3545 !important;
  }

.bg-gray {
    background-color: $gray-200 !important; 
} 
