{% extends 'main/index.html' %}
{% load static %}

{% block content %}

<div class="row mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title font-monospace">DASHBOARD</h5>
            <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs" role="tablist" id="tabs">
                <li class="nav-item" role="presentation">
                    <button class="nav-link font-monospace" id="clients-tab" data-bs-toggle="tab" data-bs-target="#clients" type="button" role="tab" aria-controls="home" aria-selected="true">CLIENTS</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link font-monospace" id="plans-tab" data-bs-toggle="tab" data-bs-target="#plans" type="button" role="tab" aria-controls="home" aria-selected="true">PLANS</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link font-monospace" id="phases-tab" data-bs-toggle="tab" data-bs-target="#phases" type="button" role="tab" aria-controls="home" aria-selected="true">PHASES</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link font-monospace" id="strategies-tab" data-bs-toggle="tab" data-bs-target="#strategies" type="button" role="tab" aria-controls="home" aria-selected="true">STRATEGIES</button>                    
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link font-monospace" id="channels-tab" data-bs-toggle="tab" data-bs-target="#channels" type="button" role="tab" aria-controls="home" aria-selected="true">CHANNELS</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link font-monospace" id="countries-tab" data-bs-toggle="tab" data-bs-target="#countries" type="button" role="tab" aria-controls="home" aria-selected="true">COUNTRIES</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link font-monospace" id="ads-tab" data-bs-toggle="tab" data-bs-target="#ads" type="button" role="tab" aria-controls="home" aria-selected="true">ADS</button>
                </li>
            </ul>
        </div>

        <div class="card-body tab-content overflow-auto" style="height: 40rem;">

            <div class="tab-pane fade" role="tabpanel" id="clients">
                <a class="btn btn-primary d-grid" aria-current="page" href="{% url 'main:client_create' %}">Create Client</a>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="col-10"><div class="font-monospace">Client</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Update</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Delete</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                        <tr>
                            <th scope="row">{{client.client_name}}</th>
                            <td><a class="btn btn-sm btn-secondary d-grid gap-1 text-white" aria-current="page" href="{% url 'main:client_update' client.id %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger d-grid gap-1" aria-current="page" href="{% url 'main:client_delete' client.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" role="tabpanel" id="plans">
                <a class="btn btn-primary d-grid" aria-current="page" href="{% url 'main:plan_create' %}">Create Plan</a>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="col-5"><div class="font-monospace">Client</div></th>
                            <th class="col-5"><div class="font-monospace">Plan</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Update</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Delete</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plan in plans %}
                        <tr>
                            <th scope="row">{{plan.client}}</th>
                            <td>{{plan.plan_name}}</td>
                            <td><a class="btn btn-sm btn-secondary d-grid gap-1 text-white" aria-current="page" href="{% url 'main:plan_update' plan.id %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger d-grid gap-1" aria-current="page" href="{% url 'main:plan_delete' plan.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" role="tabpanel" id="phases">
                <a class="btn btn-primary d-grid" aria-current="page" href="{% url 'main:phase_create' %}">Create Phase</a>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="col-3"><div class="font-monospace">Plan</div></th>
                            <th class="col-3"><div class="font-monospace">Phase</div></th>
                            <th class="col-2"><div class="font-monospace">Phase Start Date</div></th>
                            <th class="col-2"><div class="font-monospace">Phase End Date</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Update</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Delete</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for phase in phases %}
                        <tr>
                            <th scope="row">{{phase.plan}}</th>
                            <td>{{phase.phase_name}}</td>
                            <td>{{phase.phase_start_date}}</td>
                            <td>{{phase.phase_end_date}}</td>
                            <td><a class="btn btn-sm btn-secondary d-grid gap-1 text-white" aria-current="page" href="{% url 'main:phase_update' phase.id %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger d-grid gap-1" aria-current="page" href="{% url 'main:phase_delete' phase.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" role="tabpanel" id="strategies">
                <a class="btn btn-primary d-grid" aria-current="page" href="{% url 'main:strategy_create' %}">Create Strategy</a>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="col-3"><div class="font-monospace">Phase</div></th>
                            <th class="col-3"><div class="font-monospace">Strategy</div></th>
                            <th class="col-2"><div class="font-monospace">Strategy Start Date</div></th>
                            <th class="col-2"><div class="font-monospace">Strategy End Date</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Update</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Delete</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for strategy in strategies %}
                        <tr>
                            <th scope="row">{{strategy.phase}}</th>
                            <td>{{strategy.strategy_name}}</td>
                            <td>{{strategy.strategy_start_date}}</td>
                            <td>{{strategy.strategy_end_date}}</td>
                            <td><a class="btn btn-sm btn-secondary d-grid gap-1 text-white" aria-current="page" href="{% url 'main:strategy_update' strategy.id %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger d-grid gap-1" aria-current="page" href="{% url 'main:strategy_delete' strategy.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock %}
