{% extends 'main/index.html' %}
{% load static %}

{% block content %}

<form action="" method="POST">

    {% csrf_token %}
    
    <h4>Plan:</h4>
    <span>{{form.plan}}</span>
    <h4>Phase Name:</h4>
    <span>{{form.phase_name}}</span>
    <h4>Start Date:</h4>
    <span>{{form.phase_start_date}}</span>
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
    <h4>End Date:</h4>
    <span>{{form.phase_end_date}}</span>
    <hr>
    <br>
    
    <a class="btn btn-secondary" aria-current="page" href="/">Cancel</a>
    <button class="btn btn-danger" type='submit'>Update</button>

</form>

{% endblock %}


