{% extends 'main/index.html' %}
{% load static %}

{% block content %}

<form action="" method="POST">

    {% csrf_token %}
    
    <h4>Phase:</h4>
    <span>{{form.phase}}</span>
    <h4>Strategy Name:</h4>
    <span>{{form.strategy_name}}</span>
    <h4>Start Date:</h4>
    <span>{{form.strategy_start_date}}</span>
    <h4>End Date:</h4>
    <span>{{form.strategy_end_date}}</span>
    <hr>
    <br>

    <a class="btn btn-secondary" aria-current="page" href="/">Cancel</a>
    <button class="btn btn-danger" type='submit'>Create</button>

</form>

{% endblock %}


