{% extends 'main/index.html' %}
{% load static %}

{% block content %}

<div class="row mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title font-monospace">DASHBOARD</h5>
            <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs" role="tablist" id="tabs">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active show font-monospace" aria-current="true" data-bs-toggle="tab" href="#clients">CLIENTS</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link font-monospace" data-bs-toggle="tab" href="#plans">PLANS</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link font-monospace" data-bs-toggle="tab" href="#phases">PHASES</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link font-monospace" data-bs-toggle="tab" href="#strategies">STRATEGIES</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link font-monospace" data-bs-toggle="tab" href="#channels">CHANNELS</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link font-monospace" data-bs-toggle="tab" href="#countries">COUNTRIES</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link font-monospace" data-bs-toggle="tab" href="#ads">ADS</a>
                </li>
            </ul>
        </div>

        <div class="card-body tab-content">
            
            <div class="tab-pane fade in show active" role="tabpanel" id="clients">
                <a class="btn btn-primary d-grid" aria-current="page" href="{% url 'main:client_create' %}">Create Client</a>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="col-10"><div class="font-monospace">Client</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Update</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Delete</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                        <tr>
                            <th scope="row">{{client.client_name}}</th>
                            <td><a class="btn btn-sm btn-secondary d-grid gap-1 text-white" aria-current="page" href="{% url 'main:client_update' client.id %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger d-grid gap-1" aria-current="page" href="{% url 'main:client_delete' client.id %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" role="tabpanel" id="plans">
                <a class="btn btn-primary d-grid" aria-current="page" href="{% url 'main:plan_create' %}">Create Plan</a>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="col-5"><div class="font-monospace">Client</div></th>
                            <th class="col-5"><div class="font-monospace">Plan</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Update</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Delete</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plan in plans %}
                        <tr>
                            <th scope="row">{{plan.client}}</th>
                            <td>{{plan.plan_name}}</td>
                            <td><a class="btn btn-sm btn-secondary d-grid gap-1 text-white" aria-current="page" href="{% url 'main:plan_create' %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger d-grid gap-1" aria-current="page" href="{% url 'main:plan_create' %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" role="tabpanel" id="phases">
                <a class="btn btn-primary d-grid" aria-current="page" href="{% url 'main:client_create' %}">Create Phase</a>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="col-5"><div class="font-monospace">Plan</div></th>
                            <th class="col-5"><div class="font-monospace">Phase</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Update</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Delete</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for phase in phases %}
                        <tr>
                            <th scope="row">{{phase.plan}}</th>
                            <td>{{phase.phase_name}}</td>
                            <td><a class="btn btn-sm btn-secondary d-grid gap-1 text-white" aria-current="page" href="{% url 'main:client_create' %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger d-grid gap-1" aria-current="page" href="{% url 'main:client_create' %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" role="tabpanel" id="strategies">
                <a class="btn btn-primary d-grid" aria-current="page" href="{% url 'main:client_create' %}">Create Strategy</a>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="col-5"><div class="font-monospace">Phase</div></th>
                            <th class="col-5"><div class="font-monospace">Strategy</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Update</div></th>
                            <th class="col-1"><div class="text-center font-monospace">Delete</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for strategy in strategies %}
                        <tr>
                            <th scope="row">{{strategy.phase}}</th>
                            <td>{{strategy.strategy_name}}</td>
                            <td><a class="btn btn-sm btn-secondary d-grid gap-1 text-white" aria-current="page" href="{% url 'main:client_create' %}">Update</a></td>
                            <td><a class="btn btn-sm btn-danger d-grid gap-1" aria-current="page" href="{% url 'main:client_create' %}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock %}
